@font-face {
  font-family: 'Fortnite_font';
  src: url('./assets/Fortnite/fortnite/fortnite.otf') format('truetype');
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: no-repeat url('../image/Fortnite1.webp');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  background-size: content;
  background-position: center;
  min-height: 110vh;
  filter: blur(8px);
  z-index: 0;
}


.container-blur-info {
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-blur {
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Fortnite_font', sans-serif;
  color: #ffffff;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #0059ff, #06002b);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 2s ease-in-out, filter 2s ease-in-out;
  border-radius: 20px;
  filter: blur(0);
}

.logo-overlay.hidden {
  transform: translateY(-150%);
  pointer-events: none;
  filter: blur(10px);
}

.logo-overlay img {
  width: 1800px;
  height: auto;
}

.llama {
  position: fixed;
  top: 110%;
  left: 2%;
  scale: 2;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition: transform 2s ease-in-out;
}

.llama:hover {
  transform: translate(-35%, -55%) rotate(45deg); /* Décale légèrement et effectue une rotation de 45 degrés */
}

.INSTRUCTIONS {
  position: relative;
  font-family: 'Fortnite_font', sans-serif;
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 0 0 0.5rem #fffc29;
  z-index: 3;
}

.background2 {
  position: fixed;
  top: 20%;
  left: 20%;
  scale: 1.6545;
  filter: blur(8px);
  z-index: -1000;
}

.info-content {
  position: fixed;
  z-index: 3;
}

.parallelogram2 {
  width: 20rem;
  height: 5rem;
  background: linear-gradient(120deg, #0059ff, #06002b);
  position: relative;
  transform: translate(-50%, -500%);
  border-radius: 0.625rem;
  transition: background-color 0.5s ease-in-out, border-color 0.2s ease-in-out, border-radius 0.5s ease-in-out;
  box-shadow: #072e92 0px 0px 0.9375rem;
  z-index: 2;
}

.case {
  width: 50rem;
  height: 20rem;
  background: linear-gradient(120deg,#0059ff, #06002b); /* Ajoute une couleur de fond pour rendre l'élément visible */
  position: absolute;
  top: -5%;
  left: 1%;
  transform: translate(-50%, -50%);
  z-index: 3; /* Assure que l'élément est au-dessus des autres éléments */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fortnite_font", sans-serif;
  font-size: 45px;
  border: 1px solid darkblue;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(3, 2, 73, 0.5);
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-15px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

.Regl {
  position: relative;
  scale: 2;
  z-index: 1000;
  font-family: "Fortnite_font", sans-serif;
}