.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 38%;
    top: 65%;
    width: 20%;
    border-radius: 15px;
    background: linear-gradient(120deg, #0059ff, #06002b);
    padding: 0.8rem 0;
    box-shadow: #091327 2px 2px 15px;
}

html, body {
    height: 100%; /* Ensure the height is 100% */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.twitch-stream {
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    left: 26%;
    height: 55%;
}

.twitch {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    border-color: #06002b;
    border-width: 3px;
    box-shadow: #ffffff 0px 0px 10px;
}

.npc {
    font-size: 1.3rem; /* Decreased from 1.3rem */
    border-radius: 8px;
    padding: 0.3rem 4.5rem;
    border-width: 0.2rem;
    color: #c4c4c4;
    background-color: #000655;
}

.duo {
    font-size: 3.3rem; /* Decreased from 4.5rem */
    margin-bottom: 1rem;
}

.register{
    font-size: 2.5rem; /* Decreased from 3rem */
    color: #ffffff;
    text-decoration: none;
    width: 80%;
    text-align: center;
    padding: 0.3rem 0;
    background: linear-gradient(120deg, #e4e71c, #e5f83d);
    border-radius: 8px;
    margin-top: 1rem;
}

.game-mode {
    font-size: 1.2rem; /* Decreased from 1.2rem */
    color: #b3b3b3;
}

.register-container p {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.2; /* Reduce line spacing */
}

.bottom-bar {
    position: fixed;
    top: 70.6%; /* Ensure the bottom-bar is at the bottom */
    width: 98%; /* Ensure the bottom-bar spans the full width */
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text horizontally */
    padding: 0 1rem; /* Add padding to the sides */
    flex-direction: row;
    z-index: -1;
    background: linear-gradient(120deg, #0059ff, #06002b);
    border-radius: 0 0 15px 15px;
    position: relative; /* Add relative positioning */
}

.bottom-bar p {
    font-size: 0.8rem; /* Decreased from 0.8rem */
    color: #ffffff65;
    text-align: center;
    line-height: 1.2;
    margin: 0 1rem; /* Add margin to center the text and image */
}

.bottom-bar img {
    scale: calc(0.2);
    background: linear-gradient(30deg, #00098a, #0059ff);
    box-shadow: rgb(153, 153, 153) 2px 2px 20px;
    margin: 0 1rem; /* Add margin to center the text and image */
}

.register:active {
    background: linear-gradient(120deg, #b9b9b9, #8a8a8a);
    border-color: #696969;
    color: #c7c7c7;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.register:hover {
    box-shadow: 0 0 2.5rem rgba(213, 255, 45, 0.7);
    border-color: #b7b421;
    border-width: 0.2rem;
    color: #333;
    background-color: #fffc29;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: pulsate 1s infinite;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 38%;
    bottom: 20%;
    width: 20%;
    border-radius: 15px;
    background-color: #2d2d2e80;
    box-shadow: #091327 2px 2px 15px;
    padding-bottom: 2rem;
}
.og-season {
    border-radius: 8px;
    text-align: center;
    width: 100%;
    color: #c4c4c4;
    background-color: #30304d;
    box-shadow: #091327 2px 2px 15px;
}

.og-season p {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.date {
    border-radius: 8px;
    text-align: center;
    width: 100%;
    color: #c4c4c4;
}

.date p {
    font-size: 2rem;
    margin: 0;
    padding: 0.2rem;
}

.og-map img {
        border-radius: 20px;
        position: relative;
        box-shadow: #091327 2px 2px 15px;
        width: 100%;
}

.quest-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2%;
    width: 100%;
    border-radius: 15px;
    background-color: #2f2f3ab7;
    box-shadow: #091327 2px 2px 15px;
    padding: 0.8rem 0;
}

.quest-fun {
    font-size: 1.3rem;
    margin-bottom: 2px; /* Decreased from 1.5rem */
    border-radius: 8px;
    border-width: 0.2rem;
    color: #c4c4c4;
}

.quest-fun p {
    margin: 0;
    padding: 0.5rem 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.8; /* Reduce line spacing */
}

.quest-bar-fun {
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: content;
    align-items: row;
}

.quest-bar-fun p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.33rem 2.5rem;
    margin: -0.8rem 1rem;
    color: #0000009a;
    text-align: center;
    width: 50%;
    background-color: #e4e71c;
    box-shadow: #b7b421 2px 2px 15px;
    border-radius: 8px;
    height: 20px;
}

.quest-bar-fun img {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: -0.2rem 0;
    bottom: 10%;
    width: 10%;
    border-radius: 15px;
}

.quest-win p {
    font-size: 1.3rem; /* Decreased from 1.5rem */
    margin: 0;
    padding: 0.5rem 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.8; /* Reduce line spacing */
}

.quest-bar-win {
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: content;
    align-items: row;
}

.quest-win img {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: -0.2rem 0;
    bottom: 10%;
    width: 10%;
    border-radius: 15px;
}

.quest-bar-win p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.33rem 2.5rem;
    margin: -0.8rem 1rem;
    color: #0000009a;
    text-align: center;
    width: 50%;
    background-color: #2025466b;
    box-shadow: #091327 2px 2px 15px;
    border-radius: 8px;
    height: 20px;
}

.twitch-stream {
    width: 50%;
    background: linear-gradient(120deg, #000655, #0059ff, #000655, #0059ff, #000655, #0059ff);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.disclamer {
    font-size: 1rem; /* Decreased from 2rem */
}

.footer-text {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem; /* Decreased from 0.8rem */
    color: #ffffff65;
}

@media (max-width: 768px) {
    .register-container {
        flex-direction: column;
        left: 26%;
        top: 150%;
        width: 130%;
    }

    .info-container {
        flex-direction: column;
        left: 28%;
        bottom: 30%;
        width: 130%;
    }

    .twitch-stream {
        width: 100%;
        left: 26%;
        z-index: -1;
        top: 110%;
        padding: 0.2rem;
    }

    .root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .bottom-bar {
        display: flex;
        justify-content: center;
        width: 154%;
        height: 2rem;
        border-radius: 0 0 15px 15px;
        top: 208%;
        left: 0%;
        z-index: 100;
    }
}

@media (max-width: 375px) {
    .register-container {
        flex-direction: column;
        left: 10%;
        top: 120%;
        width: 80%;
    }
    .info-container {
        flex-direction: column;
        left: 10%;
        bottom: 40%;
        width: 80%;
    }
    .twitch-stream {
        width: 100%;
        left: 0;
        z-index: -1;
        top: 120%;
        padding: 0.2rem;
    }
    .bottom-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2rem;
        border-radius: 0 0 15px 15px;
        top: 220%;
        left: 0;
        z-index: 100;
    }
}

@media (max-width: 430px) {
    .register-container {
        flex-direction: column;
        left: 0%;
        top: 135%;
        width: 80%;
    }
    .info-container {
        flex-direction: column;
        left: 0%;
        bottom: 40%;
        width: 80%;
    }
    .twitch-stream {
        width: 80%;
        left: 10%;
        z-index: -1;
        top: 75%;
        padding: 0.2rem;
    }
    .bottom-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2rem;
        border-radius: 0 0 15px 15px;
        top: 170%;
        left: 0;
        z-index: 100;
    }
}

.logos {
    display: flex;
    justify-content: flex-end; /* Keep logos at the right */
    position: absolute; /* Position logos absolutely */
    right: 1rem; /* Align logos to the right */
    bottom: -4.5rem; /* Adjust vertical position */
}

.logos img {
    width: 10rem; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: -8rem; /* Add space between logos */
    background: none; /* Remove background */
    box-shadow: none;
}

.invitation {
    font-size: 1.2rem; /* Decreased from 1.5rem */
    color: #ffffff;
    text-decoration: none;
    width: 80%;
    text-align: center;
    padding: 0.3rem 0.5rem;
    border: 2px solid transparent;
    background: linear-gradient(120deg, #e4e71c, #c2d41c) padding-box, linear-gradient(120deg, rgb(139, 125, 125), rgb(42, 43, 32)) border-box;
    border-radius: 8px;
}