@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0%;
    top: 2%;
}

.inst {
    font-size: 1.5rem;
    color: #d0ecff;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: #16015f 2px 2px 15px;
    background: linear-gradient(30deg, #3224fd, #16015f);
    line-height: 1.2; /* Reduce line spacing */
}

.pres {
    font-size: 1.8rem;
    color: #d0ecff;
    text-align: center;
    padding: 2rem;
    width: 500px;
    border-radius: 20px;
    box-shadow: #16015f 2px 2px 15px;
    background: linear-gradient(30deg, #3224fd, #16015f);
    line-height: 1.2; /* Reduce line spacing */
}

.kevin {
    position: fixed;
    scale: 1;
    z-index: 100000;
    animation: float 3s ease-in-out infinite;
    top: 40%;
    right: 8%;
}

.eligibility p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.eligibility {
    width: 75%;
    perspective: 1000px;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.eligibility-inner, .reglement-inner {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 10%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.eligibility.flipped .eligibility-inner {
    transform: rotateY(180deg);
}

.eligibility-front, .eligibility-back {
    background: linear-gradient(30deg, #1c157c, #0b0130);
    border-radius: 50px;
    width: 100%;
    padding: 0.5rem 1rem;
    backface-visibility: hidden;
    box-shadow: #000000 2px 2px 25px;
}

.eligibility-back {
    transform: rotateY(180deg);
    background: linear-gradient(30deg, #1c157c, #0b0130);
    color: #ffffff;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    box-shadow: #000000 2px 2px 25px;
}

.eli-button {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    border-radius: 15px;
    box-shadow: #bbff00 2px 2px 15px;
    background: linear-gradient(30deg, #e9ff24, #8ea120);
    margin-bottom: 8px;
}

.eli-button:hover {
    background: linear-gradient(30deg, #fffc29, #b7b421);
    box-shadow: #fffc29 2px 2px 25px;
    animation: pulsate 0.8s ease-in-out infinite;
}

.reglement p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.reglement {
    width: 75%;
    perspective: 1000px;
    line-height: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.reglement-inner {
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    height: 500%;
}

.reglement.flipped .reglement-inner {
    transform: rotateY(180deg);
}

.reglement-front, .reglement-back {
    background: linear-gradient(30deg, #1c157c, #0b0130);
    border-radius: 50px;
    backface-visibility: hidden;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: #000000 2px 2px 25px;
}

.reglement-back {
    transform: rotateY(180deg);
    background: linear-gradient(30deg, #1c157c, #0b0130);
    color: #ffffff;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 1rem;
    box-shadow: #000000 2px 2px 25px;
    text-align: center;
}

.regl-button {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    border-radius: 15px;
    box-shadow: #bbff00 2px 2px 15px;
    background: linear-gradient(30deg, #e9ff24, #8ea120);
}

.regl-button:hover {
    background: linear-gradient(30deg, #fffc29, #b7b421);
    box-shadow: #fffc29 2px 2px 25px;
    animation: pulsate 0.8s ease-in-out infinite;
}

.regl-text {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.check {
    margin: auto -2rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 86%;
    margin-bottom: -0.8rem;
}

label {
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: #c7c7c7;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.register-button {
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    width: 30%;
    border-radius: 50px;
    text-align: center;
    padding: 2rem 0;
    background: #c7c7c7;
    border-radius: 8px;
    margin-bottom: 1rem;
    cursor: not-allowed;
    transition: background-color 0.5s ease-in-out;
}

.register-button.enabled {
    background: linear-gradient(120deg, #e4e71c, #e5f83d);
    box-shadow: #e4e71c 2px 2px 15px;
    cursor: pointer;
}

.register-button.disabled {
    background: grey;
    box-shadow: #000000 2px 2px 20px;
    cursor: not-allowed;
}

.register-button.enabled:hover {
    background: linear-gradient(120deg, #e5f83d, #e4e71c);
    box-shadow: #e5f83d 2px 2px 15px;
    animation: pulsate 0.8s ease-in-out infinite;
}

.register-button.enabled:active {
    background: linear-gradient(120deg,#6b6b6b, #3f3f3f);
    box-shadow: #e5f83d 2px 2px 15px;
}

.register-button.clicked {
    background: grey !important;
}

.dates p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.dates {
    width: 75%;
    perspective: 1000px;
    line-height: 0.9;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dates-inner {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 10%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.dates.flipped .dates-inner {
    transform: rotateY(180deg);
}

.dates-front, .dates-back {
    background: linear-gradient(30deg, #1c157c, #0b0130);
    border-radius: 50px;
    width: 100%;
    padding: 0.5rem 1rem;
    backface-visibility: hidden;
    box-shadow: #000000 2px 2px 25px;
}

.dates-back {
    transform: rotateY(180deg);
    background: linear-gradient(30deg, #1c157c, #0b0130);
    color: #ffffff;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    box-shadow: #000000 2px 2px 25px;
}

.dates-button {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    border-radius: 15px;
    box-shadow: #bbff00 2px 2px 15px;
    background: linear-gradient(30deg, #e9ff24, #8ea120);
    margin-bottom: 8px;
}

.dates-button:hover {
    background: linear-gradient(30deg, #fffc29, #b7b421);
    box-shadow: #fffc29 2px 2px 25px;
    animation: pulsate 0.8s ease-in-out infinite;
}

.download-reglement {
    font-size: 1.5rem;
    color: #655aff;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.credit {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 85%;
}

@media (max-width: 768px) {
    .info {
        right: 0;
        width: 100%;
    }

    .inst, .pres {
        font-size: 1.5rem;
        padding: 1rem;
        width: 90%;
    }

    .register-button {
        font-size: 2rem;
        width: 80%;
    }

    .credit {
        font-size: 0.6rem;
    }
}

@media (max-width: 375px) {
    .inst, .pres {
        font-size: 1.2rem;
        padding: 0.8rem;
        width: 100%;
    }

    .register-button {
        font-size: 1.5rem;
        width: 90%;
    }

    .credit {
        font-size: 0.5rem;
    }
}

@media (max-width: 320px) {
    .info {
        right: 0;
        width: 100%;
    }

    .inst, .pres {
        font-size: 1rem;
        padding: 0.5rem;
        width: 100%;
    }

    .register-button {
        font-size: 1rem;
        width: 100%;
    }

    .credit {
        font-size: 0.4rem;
    }
}

@media (max-width: 430px) {
    .info {
        right: 0;
        width: 100%;
    }

    .inst, .pres {
        font-size: 1.3rem;
        padding: 0.7rem;
        width: 100%;
    }

    .register-button {
        font-size: 1.3rem;
        width: 100%;
    }

    .credit {
        font-size: 0.5rem;
    }
}

.discord img {
    width: 20%; /* Adjust width as needed */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 150px;
    box-shadow: #1b0277 2px 2px 5px;
    margin-bottom: 1rem;
    display: block; /* Ensure the image is displayed as a block element */
}

.discord {
    display: flex;
    text-align: center;
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    width: 76.5%; /* Adjust width as needed */
    margin: 0 auto 25px auto; /* Center the div horizontally */
    box-shadow: #000000 2px 2px 25px;
    border: 3px solid transparent;
    border-radius: 50px;
    background: linear-gradient(#121125, #121125) padding-box,
                linear-gradient(45deg, red, blue) border-box;
}